<?xml version="1.0" encoding="utf-8" ?>
<Configuration status="debug" xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="logName">
            CheckShow
        </Property>

        <Property name="layoutPattern">
            %style{%d{yyyy/MM/dd HH:mm:ss, SSS}}{cyan} %highlight{[%-5p]}{FATAL=bg_red, ERROR=red, INFO=green, DEBUG=blue} [%C] %style{[%t]}{yellow}- %m%n
        </Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}"/>
        </Console>
        <RollingFile name="FileAppender" fileName="../logs/${logName}.log" filePattern="../logs/${logName}_%d{yyyy-MM-dd-hh}_%i.log.gz">
            <PatternLayout pattern="${layoutPattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
                <TImeBasedTriggeringPolicy interval="1" />
                <DefaultRolloverStrategy max="10" fileIndex="min" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Root>

        <Logger name="org.springframework" level="WARN" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Logger>

        <Logger name="com.checkshow.parsing" level="WARN" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Logger>

        <Logger name="com.checkshow.controller" level="ERROR" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Logger>
    </Loggers>
</Configuration>